/* Other rules */

:root {
  --toastify-color-success: #2cb1ba !important;
}

* {
  box-sizing: border-box;
  font-family: "Maison Neue";
}

html,
body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2cb1ba;
  font-weight: bold;
  padding: 150px 0px;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #2cb1ba;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.bcg-gray {
  background-color: #ebedee;
}

button,
input[type="checkbox"] {
  cursor: pointer;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.button-sold {
  background-color: #2cb1ba;
  color: #fff;
}

.signup-container,
.signup-form,
.login-container,
.login-form {
  display: flex;
  flex-direction: column;
}

.signup-container,
.login-container {
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.signup-form,
.login-form {
  width: 275px;
  margin: auto;
}

.signup-form > input,
.login-form > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
}

.checkbox-container {
  margin-top: 20px;
  padding: 10px;
}

.checkbox-container > div {
  display: flex;
}

.signup-form input[type="checkbox"] {
  transform: scale(2);
  margin-right: 20px;
}

.checkbox-container span {
  color: #666;
}

.checkbox-container > p {
  text-align: left;
  color: #999;
  font-size: 12px;
}

.signup-form button,
.login-form button {
  background-color: #2cb1ba;
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

.signup-container a,
.login-container a {
  text-decoration: none;
  margin: 20px 0px;
  color: #2cb1ba;
  font-size: 12px;
}

.home-hero {
  background-image: url("./assets/img/hero.jpg");
  height: 455px;
  width: 100%;
  position: relative;
  background-position: 50%;
  background-size: cover;
}

.home-hero-tear-style {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  pointer-events: none;
}

.home-hero-text {
  height: 220px;
  width: 360px;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 75px;
  box-shadow: 0 0 2px rgba(17, 17, 17, 0.24);
}

.home-hero-text button {
  height: 45px;
  width: 187px;
  background-color: #2baeb7;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 0 14px;
  margin-top: 32px;
}

.Offers {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  gap: 6px 26px;
}

.Offers .offer {
  width: 235px;
}

.Offers .offer-card {
  cursor: pointer;
}

.Offers .offer-product img {
  height: 360px;
  width: 100%;
  object-fit: cover;
}

.Offers .offer-product-details {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.Offers .offer-product-details span:not(:first-child) {
  color: rgba(102, 102, 102, 1);
  font-size: 12px;
}

.Offers a {
  color: unset;
  text-decoration: none;
}

.Offers a:hover {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .home-hero-text {
    display: none;
  }
}

.file-select {
  background-color: #fff;
  padding: 24px;
  margin: 20px 0;
  box-shadow: 0 0 2px grey;
}

.dashed-border {
  border: 1px dashed #ebedee;
  border-radius: 3px;
  height: 200px;
  display: flex;
  align-items: center;
}

.dashed-border.empty {
  justify-content: center;
}

.input-design-default,
.input-design-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0ab1ba;
  border-radius: 4px;
  height: 45px;
}

.label-file {
  cursor: pointer;
  color: #0ab1ba;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.input-design-default {
  width: 200px;
}
.label-file > span {
  margin: auto 10px;
}

.input-sign {
  font-size: 30px;
}

.dashed-border.filled .image-preview {
  height: 90%;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.image-preview img {
  height: 100%;
}

.remove-img-button {
  position: relative;
  color: #000;
  background-color: #fff;
  right: 40px;
  bottom: 70px;
  height: 25px;
  line-height: 25px;
  width: 30px;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.text-input-section {
  background-color: #fff;
  margin: 20px 0;
  box-shadow: 0 0 2px grey;
}

.text-input-section > .text-input:not(:last-child) {
  height: 25px;
  border-bottom: 1px solid #ebedee;
}

.text-input {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  box-sizing: content-box;
}

.text-input > h4 {
  font-weight: 400;
  margin: 0;
  vertical-align: baseline;
}

.text-input > input {
  width: 50%;
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: "Maison Neue";
  font-size: 16px;
}

.text-input > textarea {
  width: 50%;
  resize: none;
  border: none;
  border-bottom: 1px solid #ebedee;
  outline: none;
  color: #000;
  font-family: "Maison Neue";
  font-size: 16px;
}

.checkbox-section {
  width: 50%;
}

.checkbox-section > input {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: "Maison Neue";
  font-size: 16px;
  margin-bottom: 40px;
}

.text-input-section label {
  color: white;
}

.checkbox-design {
  border-radius: 3px;
  padding: 3px 4px;
  margin: 0 15px 0 0;
  border: 1px solid #000;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.checkbox-input {
  display: flex;
  align-items: center;
}

.checkbox-input > input {
  display: none;
}

.checkbox-design.checked {
  border: 1px solid #0ab1ba;
  background-color: #0ab1ba;
}

.form-button-div {
  display: flex;
  justify-content: flex-end;
}

.form-validation,
.save-offer {
  font: inherit;
  outline: inherit;
  padding: 12px;
}

.form-validation {
  background-color: #0ab1ba;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 50px 0;
}
